@use "../abstracts";
.button-main {
  position: relative;
  height: 27.4rem;
  width: 27.4rem;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: rgba(var(--color-tertiary), 1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--ff-serif);
  font-size: var(--fs-600);
  letter-spacing: 2px;
  text-transform: uppercase;
  &::after {
    position: absolute;
    content: "";
    height: 27.2rem;
    width: 27.2rem;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: rgba(var(--color-primary), 0.8);
    left: 0;
    top: 0;
    z-index: -1;
    transition: all 400ms;
    @include abstracts.respondMax(abstracts.$tablet) {
      height: 24rem;
      width: 24rem;
    }
    @include abstracts.respondMax(abstracts.$mobile) {
      height: 14.8rem;
      width: 14.8rem;
    }
  }
  @include abstracts.respondMax(abstracts.$tablet) {
    height: 24.2rem;
    width: 24.2rem;
  }
  @include abstracts.respondMax(abstracts.$mobile) {
    height: 15rem;
    width: 15rem;
  }
  &:hover::after,
  &:focus::after {
    transform: scale(1.5);
  }
}

.slider-1 {
  height: 1.5rem;
  width: 1.5rem;
  background-color: #36373f;
  border-radius: 50%;
  cursor: pointer;
  @include abstracts.respondMax(abstracts.$tablet) {
    height: 1rem;
    width: 1rem;
  }
  &--active {
    background-color: var(--color-tertiary);
  }
  &:hover {
    background-color: #85868b;
  }
}

.slider-2 {
  width: 8rem;
  height: 8rem;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-tertiary);
  color: var(--color-tertiary);
  cursor: pointer;
  font-family: var(--ff-sans);
  font-size: var(--fs-600);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms;
  @include abstracts.respondMax(abstracts.$tablet) {
    height: 6rem;
    width: 6rem;
  }
  @include abstracts.respondMax(abstracts.$mobile) {
    height: 4rem;
    width: 4rem;
  }
  &--active {
    background-color: var(--color-tertiary);
    border: 1px solid var(--color-tertiary);
    color: var(--color-primary);
  }
  &:hover {
    border: 2px solid var(--color-tertiary);
  }
}

.underline {
  border-bottom: 3px solid transparent;
  &--inactive {
    &:hover {
      border-bottom: 3px solid rgba(var(--color-tertiary), 0.3);
    }
  }
  &--active {
    border-bottom: 3px solid rgba(var(--color-tertiary), 1);
  }
}
