@use "../../styles/abstracts";

.Home {
  position: relative;
  background-image: url("../../images/home/background-home-desktop.jpg");
  background-size: cover;
  @include abstracts.respondMax(abstracts.$desktop-small) {
    background-image: url("../../images/home/background-home-tablet.jpg");
    background-size: cover;
    padding-bottom: 8rem;
  }
  &__main {
    margin-top: 8rem;
  }
  &__heading-major {
    font-family: var(--ff-serif);
    font-size: var(--fs-900);
    font-weight: 400;
    display: block;
  }
  &__container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @include abstracts.respondMax(abstracts.$desktop-small) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__info {
    flex: 0 0 45%;
    @include abstracts.respondMax(abstracts.$desktop-small) {
      text-align: center;
    }
  }
  &__description {
    @include abstracts.respondMax(abstracts.$desktop-small) {
      width: 70%;
      margin: auto;
    }
    @include abstracts.respondMax(abstracts.$tablet) {
      width: 100%;
    }
  }
  &__button {
    margin-top: 10rem;
  }
}
