/*
.heading-1 {
  font-family: var(--ff-serif);
  font-size: var(--fs-900);
  font-weight: 400;
}

.heading-2 {
  font-family: var(--ff-serif);
  font-size: var(--fs-800);
}

.heading-3 {
  font-family: var(--ff-serif);
  font-size: var(--fs-700);
}

.heading-4 {
  font-family: var(--ff-serif);
  font-size: var(--fs-600);
}
*/

.page-title {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  letter-spacing: 4.72px;
  font-weight: 300;
  color: rgba(var(--color-tertiary), 1);
  text-transform: uppercase;
}
.page-title-number {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  letter-spacing: 4.72px;
  font-weight: 700;
  color: rgba(var(--color-tertiary), 0.3);
  margin-right: var(--margin-medium);
}

.heading-5 {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  letter-spacing: 4.72px;
  font-weight: 300;
}

.subheading-1 {
  font-family: var(--ff-serif);
  font-size: var(--fs-500);
}

.subheading-2 {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-200);
  letter-spacing: 2.35px;
}

.nav-text {
  font-family: var(--ff-sans-cond);
  font-size: 1.6rem;
  letter-spacing: 2.7px;
}

.body-text {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  font-weight: 300;
  line-height: 3.2rem;
}
