.container {
  max-width: 1140px;
  height: 100%;
  margin: 0 auto;
  padding: 0rem 7rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.uppercase {
  text-transform: uppercase;
}

.color-primary {
  color: rgba(var(--color-primary), 1);
}
.color-secondary {
  color: rgba(var(--color-secondary), 1);
}
.color-tertiary {
  color: rgba(var(--color-tertiary), 1);
}
