@use "../abstracts";
.page {
  overflow: auto;
  padding-bottom: 8rem;
}
.container {
  max-width: 1140px;
  height: 100%;
  margin: 0 auto;
  padding: 0rem 7rem;

  @include abstracts.respondMax(abstracts.$tablet-small) {
    padding: 0 5rem;
  }
  @include abstracts.respondMax(abstracts.$mobile) {
    padding: 0rem 2.5rem;
  }
}
.grid-container {
  display: grid;
  height: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.uppercase {
  text-transform: uppercase;
}

.color-primary {
  color: rgba(var(--color-primary), 1);
}
.color-secondary {
  color: rgba(var(--color-secondary), 1);
}
.color-tertiary {
  color: rgba(var(--color-tertiary), 1);
}
